{% extends "Portfolio/layout.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block main %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">

        <h3 style="text-align: center;">About Me</h3>

    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Soccer</h1>
        <p class="col-md-8 fs-4">I am a huge soccer nut!  I played for a year in college before I decided to transfer so I could major in Engineering.  I still play and watch as much as I can so if you live in the Pittsburgh area and want to watch a game at Pipers pub or play some pick up soccer reach out! </p>
        <a href="{% url 'contact'  %}"><button class="btn btn-primary btn-lg" type="button">Contact Me</button></a>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Machine learning</h2>
          <p>I found my passion for machine learning when I was at Carnegie Mellon University for my M.S. degree but I have loved optimization, problem solving, and programming for much longer.  I strive to one day work as a machine learning engineer so currently I am doing everything I can to gain a deep understanding of the field and apply it in my PhD research.  If you want to collaborate on a project or talk about ML reach out!</p>
          <a href="{% url 'contact'  %}"><button class="btn btn-outline-light" type="button">Contact Me</button></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Pittsburgh</h2>
          <p>Me and my girlfriend love exploring Pittsburgh!  We live in the South Side but recently have been checking out places all over the city.  We are starting a Blog to share our experiences and hopefully help others find fun things to do!  It's going to be called Hit the Town 412 and once we have it up I will add the link to it here!</p>
          <img src="{% static 'Portfolio/img/Pitt.jpeg' %}" class="rounded img-thumbnail">
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2021
    </footer>
  </div>
</main>


    
  </body>
  {%endblock%}