
{% load static %}


{% block main %}

<head>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/static/Portfolio/css/style2.css' %}">
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
  <link href="/static/Portfolio/css/styles2.css" rel="stylesheet" />
</head>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="{% url 'index' %}">SkinsAI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
              {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li> {% endcomment %}
              <li class="nav-item"><a class="nav-link" href="{% url 'Upload_Your_Image' %}">Submit Your Image for Testing</a></li>
              {% comment %} <li class="nav-item"><a class="nav-link" href="#!">Log In</a></li> {% endcomment %}
          </ul>
      </div>
  </div>
</nav>

<br>
<br>
<br>
<br>
  <div class="container">
    <div class="jumbotron">
      <h1 class="center"> It looks like it is <u>Malignant</u>. </h1>
      <h4>please look through the provided information and see a doctor for further evaluation as soon as possible.</h4>

    </div>

  </div>
  <div class="container">
    <div class="jumbotron">
          <h1> ABCDE </h1>
    <ul>
      <li><strong>A</strong>symmetry</li>
      <li><strong>B</strong>orders (irregular with edges and corners)</li>
      <li><strong>C</strong>olor (variegated)</li>
      <li><strong>D</strong>iameter</li>
      <li><strong>E</strong>volving over time</li>
    </ul>

    <h1> What can I do? </h1>

    <h3> Firstly, be aware of what Melanoma is! </h3>

    <p> <em>Malignant melanoma</em> or <em>Melanoma</em> is a type of skin cancer that develops when melanocytes (the cells that give the skin its tan or brown color) start to grow out of control. 

    Melanoma is much less common than some other types of skin cancers. But melanoma is more dangerous because it’s much more likely to spread to other parts of the body if not caught and treated early.

    <h1> Statistics </h1>

    <p>The American Cancer Society estimates (2022, U.S.A):  <strong>About 99,780 people will be diagnosed with melanoma and 7,650 of those cases will not survive. </strong></p>

    <p><strong>99 % people</strong> survive from Melanoma if is found in an early stage</p>

    <h1>See a doctor and discuss!</h1>
    <h3>Free diagnosis:</h3>
    <a href="https://www.google.com/maps/search/free+skin+cancer+screening+near+me"> Screenings Near Me</a>
    <h3>Get a treatment:</h3>
    <a href="https://www.google.com/maps/search/skin+cancer+therapy+around+me"> Cancer Therapy Near Me</a>

    </div>

  </div>

{%endblock%}