{% extends "Portfolio/layout.html" %}

{% load static %}
{% load crispy_forms_tags %}
<head>
    <title>Loevlie Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous" />
</head>

{% block main %}
<style>

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>


<style>

.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.btn-danger {
    color: #fff;
    background-color: #34568B;
    border-color: #34568B;
}
.masthead {
    background: #34568B;
    height: 180px;
    padding-bottom: 5px;
    box-shadow: 0 16px 48px #E3E7EB;
    padding-top: 1px;
}
</style>

<div class="container">
    <div class="row">
      <div class="top">
        <div class="card-body">
<h1>Update Post...</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Post</button>
</form>
</div>
</div>
</div>
</div>
{%endblock%}